<div id="<%= dom_id product %>">
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>In price:</strong>
    <%= product.in_price %>
  </p>

  <p>
    <strong>Out price:</strong>
    <%= product.out_price %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Prod code:</strong>
    <%= product.prod_code %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock_id %>
  </p>

</div>
